body {
    margin:0px;
    padding:0px;
    font-size:16px;
    box-sizing:border-box;
    font-family: "Oswald", sans-serif;
    color:rgb(92, 66, 32)
}

main {
    display: flex; 
    flex-wrap: wrap;
}

section {
    flex-grow: 1;
    width: 30%;
    background-color:antiquewhite;
    margin:10px;
    border:solid rgb(92, 66, 32) 2px;
    border-radius: 5px;
    padding:5px;
}